<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %p %c{1.} [%t] %m%n
		</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT"
			follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		<File name="logFile" fileName="logs/app.log">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.sakthi.stringdb" level="debug"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="logFile" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="ConsoleAppender" />
		</Root>
	</Loggers>
</Configuration>
